.main__pj-brook{
    background-image: url(../assets/img/personajes/brook/wallpaper/brook_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main__pj-chopper{ 
    background-image: url(../assets/img/personajes/chopper/wallpaper/chopper_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main__pj-franky{ 
    background-image: url(../assets/img/personajes/franky/wallpaper/franky_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.main__pj-luffy{
    background-image: url(../assets/img/personajes/luffy/wallpaper/luffy_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main__pj-nami{
    background-image: url(../assets/img/personajes/nami/wallpaper/nami_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.main__pj-robin{
    background-image: url(../assets/img/personajes/robin/wallpaper/robin_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.main__pj-sanji{
    background-image: url(../assets/img/personajes/sanji/wallpaper/sanji_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.main__pj-usopp{
    background-image: url(../assets/img/personajes/usopp/wallpaper/usopp_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:right;
}
.main__pj-zoro{
    background-image: url(../assets/img/personajes/zoro/wallpaper/zoro_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section__pj{
    display: grid;
    width: 80%;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 20em auto;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    gap: 3em;
}
    
.pj__wanted{
    grid-area:2/1/5/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 2em;
}
.pj__poster{
    width:50%;
}
.pj__text{
    grid-area: 1/3/5/4;
    display: grid;
    grid-template-rows: 20em auto;
    align-self: normal;
}
.pj__jolly{
    grid-area:1/1/2/3;
    justify-self: baseline;
}
.pj__jolly-img{
    height: 12em;
}
.pj__text-title{
    grid-area:1/1/2/2;
    font-size: 4em;
    text-align: center;
    align-self: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-family: onePiece_font;
    font-size: 8em;
}
.pj__text-description{
    grid-area:2/1/3/2;
    font-size: 1.5em;
}   
.pj__img{
    grid-area: 5/1/6/4;
}
